{% extends 'base.html' %}

{% block title %} Experience {% endblock title %}
{% load static %}

{% block content %}

<section class="experience_section center-column">
    <h1>Experience</h1>
    <div class="experience_list">
        <div class="experience-card">
            <p>Name or the school or company</p>
            <p>Course name or job position</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit iste sunt dolorem fuga maxime laborum cum soluta excepturi exercitationem tempora.</p>
            <p>Month YYYY - Month YYYY</p>
        </div>
        <div class="experience-skills">
            <label class="text-label">Skills</label>
            <label class="text-label">Skills</label>
            <label class="text-label">Skills</label>
            <label class="text-label">Skills</label>
        </div>
    </div>
</section>

{% endblock content %}