/* About Me Section */
.about-section {
    padding: 2%;
}

.about-image-container img {
    width: 50%;
}

.about-image-container {
    width: 30%;
}

.about-description-container {
    width: 70%;
}

.about-description-container p{
    width: 90%;
    margin: 2rem 0;
}

.skills-list {
    flex-wrap: wrap;
    width: 70%;
    gap: 0.5rem;
    margin: 2rem 0;
}

/* Project Section */
.projects-section {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    gap: 1rem;
}

.project-card {
    height: 600px;
    width: 20rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--neutral-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.project-card:hover {
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    border: solid 1px var(--primary-color);
    opacity: 1;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.project-skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.2rem;
}

.project-skills span {
    background-color: var(--primary-color-light);
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

a p:nth-child(2), .experience-card p:nth-child(2) {
    font-size: 1.5rem;
    color: var(--secondary-color-600);
    font-weight: bolder;
    margin: 0.5rem 0px;
}

a p:nth-child(3) {
    font-style: italic;
    color: var(--secondary-color-900);
    text-align: justify;
}

a p:nth-child(4), .experience-card p:nth-child(4) {
    margin: 0.5rem 0px;
    color: var(--surface-color);
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 0.5rem;
}

/* Experience Section */
.experience-section {
    margin-top: 4rem;
}

.experience-list {
    margin: 2rem 0px;
}

.experience-card {
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 2rem 0px;
    flex-direction: column;
    align-items: baseline;
}

.experience-card:hover {
    opacity: 0.5;
    border: solid 1px var(--primary-color);
}

.experience-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0px;
}

.experience-card p:nth-child(1) {
    font-size: 1.5rem;
    color: pink;
    font-size: italic;
    font-weight: bolder;
}

.experience-card p:nth-child(3) {
    font-style: normal;
}

.experience-card p:nth-child(4) {
    font-style: italic;
    color: var(--neutral-color);
}

/* Contact Section */
.contact-section #emailForm {
    border: solid 1px var(--primary-color-100);
    border-radius: 4px;
    padding: 1rem 2.5rem 2.5rem;
    margin-top: 2.5rem;
}

.contact-section input,
.contact-section textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.contact-section p {
    margin-bottom: 1rem;
}

.contact-section h2 {
    margin-bottom: 1rem;
}

.contact-section h2 span {
    color: var(--neutral-color);
    font-family: inherit;
}